div {
	/* outline for visual html tag testing */
	outline: 0.5px solid red;
	/* width: 100px; */
	/* height: 100px; */
}
span {
	outline: 0.5px solid green;
}

:root {
	/* --cellSize: 40px; */
	--cellSize: 4.5vw;
}

body {
	background-color: aqua;
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	font-size: 15px;
	color: gray;
}

.wrapper {
	display: grid;
	/* grid-template-columns: repeat(auto-fit, minmax(800px, 2fr)); */
	grid-template-columns: max-content max-content;
}

.boardAndPieces {
	width: calc(var(--cellSize) * 9);
	/* height: calc(var(--cellSize) / 2); */
}

.topOutside,
.bottomOutside {
	width: calc(var(--cellSize) * 8);
	height: calc(var(--cellSize) * 2);
	background: lightgray;
}

.board-index-row-top,
.board-index-row-bot {
	width: calc(var(--cellSize) * 8);
	height: calc(var(--cellSize) / 2);

	margin: 0 calc(var(--cellSize) / 2);
}

.board-index-row-top > span,
.board-index-row-bot > span {
	height: calc(var(--cellSize) / 2);
	width: var(--cellSize);
	/* width: 8vw; */
	/* height: 4vw; */
}

.board-index-col-left,
.board-index-col-right {
	width: calc(var(--cellSize) / 2);
	height: calc(var(--cellSize) * 8);
	/* display: flex; */
	/* flex-direction: column; */
}

.board-index-col-left > span,
.board-index-col-right > span {
	height: var(--cellSize);
	width: calc(var(--cellSize) / 2);
	/* width: 4vw; */
	/* height: 8vw; */
}

.cells {
	width: calc(var(--cellSize) * 8);
	height: calc(var(--cellSize) * 8);
}

/* .board,
.board > div,
span,
.boardAndPieces,
.board-index-row-top,
.board-index-row-bot,
.board-index-column {
	display: flex;
	flex-wrap: wrap;
} */

.topOutside span,
.bottomOutside span,
.cells span {
	width: var(--cellSize);
	height: var(--cellSize);
}
.boardAndPieces,
.boardAndPieces div,
.boardAndPieces span {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

div > span > img {
	max-height: 80%;
	/* filter: invert(0.2); */
}

.moves {
	width: calc(var(--cellSize) * 3);
}

/* main>div:nth-child(even)>img {
	filter: invert(1);
} */
