div {
	/* outline for visual html tag testing */
	outline: 0.5px solid red;
}
span {
	outline: 0.5px solid green;
}

:root {
	--cellSize: 4.5vw;
}

body {
	background-color: #0008ff29;
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	font-size: 15px;
	color: gray;
}

.wrapper {
	display: grid;
	grid-template-columns: max-content max-content;
}

.boardAndPieces {
	width: calc(var(--cellSize) * 9);
}

.topOutside,
.bottomOutside {
	width: calc(var(--cellSize) * 8);
	height: calc(var(--cellSize) * 2);
	background: lightgray;
}

.board-index-row-top,
.board-index-row-bot {
	width: calc(var(--cellSize) * 8);
	height: calc(var(--cellSize) / 2);

	margin: 0 calc(var(--cellSize) / 2);
}

.board-index-row-top > span,
.board-index-row-bot > span {
	height: calc(var(--cellSize) / 2);
	width: var(--cellSize);
}

.board-index-col-left,
.board-index-col-right {
	width: calc(var(--cellSize) / 2);
	height: calc(var(--cellSize) * 8);
}

.board-index-col-left > span,
.board-index-col-right > span {
	height: var(--cellSize);
	width: calc(var(--cellSize) / 2);
}

.cells {
	width: calc(var(--cellSize) * 8);
	height: calc(var(--cellSize) * 8);
}

.topOutside span,
.bottomOutside span,
.cells span {
	width: var(--cellSize);
	height: var(--cellSize);
}
.boardAndPieces,
.boardAndPieces div,
.boardAndPieces span {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.boardAndPieces > .topOutside {
	flex-flow: wrap-reverse;
}

div > span > img {
	max-height: 80%;
	cursor: grab;
}

.moves {
	width: calc(var(--cellSize) * 3);
}
