body {
	background-color: aqua;
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	font-size: 15px;
	color: gray;
}

section,
div,
span {
	/* outline for visual html tag testing */
	outline: 0.5px solid red;
	display: flex;
	flex-wrap: wrap;
}
.cells {
	width: 80vw;
}
.cells > span {
	width: 10vw;
	height: 10vw;
}
.cells > span,
.board-index-column > span,
.board-index-row > span {
	justify-content: center;
	align-content: center;
}

div > span > img {
	max-height: 80%;
	/* filter: invert(0.2); */
}

.board-index-column {
	display: flex;
	flex-direction: column;
}

.board-index-column > span {
	width: 4vw;
	height: 10vw;
}

.board-index-row {
	margin: 0 12vw 0 4vw;
}
.board-index-row > span {
	width: 10vw;
	height: 4vw;
}

/* section>div:nth-child(even)>img {
    filter: invert(1);
} */
